<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @participation.user_id %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @participation.tournament_id %>
</p>

<p>
  <strong>License:</strong>
  <%= @participation.license %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @participation.ranking %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
