<!--Widok dla logowania się -->

<h1>Sign in </h1>
</br>
</br>
<div class="row">
	<div class="span6 offset3">

		<%= form_for(:session, url: sessions_path) do |f| %>
			<%=f.label :email %>
			<%=f.text_field :email %>

			<%=f.label :password%>
			<%=f.password_field :password %>

			<%=f.submit "Sign in", class: "btn btn-large btn-primary" %> <%= link_to "Forgot your password? ", pass_url%>
    <% end %>

    </br>
    </br>
    <p>Don't have an account yet?
      <%= link_to 'Register now', signup_path, class: "btn btn-large btn-primary" %>
    </p>
	</div>
</div>
<%= link_to 'Back', root_url %>
