<!-- To jest treść maila do katywacji konta -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to TournamentApp, <%= @user.name %></h1>
    <p>
      You have successfully signed up to application
      your username is: <%= @user.email %><br>	
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to @url, @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
