<!--To jest treść maila do resetowania hasła -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %> !</h1>
    <p>
      To reset your password, follow the link <%= @url %><br>	
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
