<!--Widok dla edycji profilu -->

<h1>Update profile</h1>		
<div class="row">
  <div class="span6 offset3"> <br>
	<%= form_for(@user) do |f| %>
    	<%= f.label :name %>
    	<%= f.text_field :name %>
	
		<%= f.label :surname %>
	   	<%= f.text_field :surname %>
	
		<%= f.label :email %>
    	<%= f.text_field :email %>
	
		<%= f.label :password %>
		<%= f.password_field :password%>
		
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit "Save changes", class: "btn btn-large btn-primary"  %> 
	<% end %>
 </div>
</div>
<%= link_to 'Back', root_url %>
