<%if signed_in? %>
	<script>
    	$(document).ready(function () {
        	$('.dropdown-toggle').dropdown();
    	});
	</script> 
	<ul class="nav nav-pills">
   	 <li class="active"><%=link_to 'Home',user_url %></li>
   	 <li><%=link_to 'Profile', edit_user_url  %></li>
   	 <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tournament <b class="caret"></b></a>
        <ul class="dropdown-menu">
			<li><%=link_to 'New Torunament', new_tournament_path %> </li>
	 	</ul>
	</li>
    <li class="dropdown pull-right">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
			<li><%=link_to 'Sign out',signout_path, method: "delete" %> </li>
           	<li><%=link_to 'Remove account',user_url, method: :delete %> </li>
        </ul>
    	</li>
	</ul>
<%else %>
	<script type="text/javascript">
    	window.location.href="/signin"
  	</script>
<%end %>
