<h1>Update tournament</h1>		

<% if @tournament.errors.count > 0 || (@location.longitude == -1 && @location.latitude == -1) %>
  <div class="control-group">
    <div class="container">  
      <div class="row">  
        <div class="span6 offset3">  
          <div class="alert alert-error">  
            <% if @location.longitude == -1 && @location.latitude == -1 %>
              <h4 class="text-danger" align="center"><%= pluralize(@tournament.errors.count+1, "error") %> prohibited:</h4>
            <% else %>
              <h4 class="text-danger" align="center"><%= pluralize(@tournament.errors.count, "error") %> prohibited:</h4>
            <% end %>
            <ul>
              <% @tournament.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end %>
              <% if @location.longitude == -1 && @location.latitude == -1 %>
                <li> Adress doesn't exists</li>
              <% end %>
            </ul>
         </div>  
       </div>  
     </div>  
    </div>  
  </div>  
<% end %>

<div class="row">
  <div class="span6 offset3"> <br>
	<%= form_for(@tournament) do |f| %>
		<%= f.label "Name of tournament" %>
    	<%= f.text_field :name %>
	
		<%= f.label "Address" %>
		<%= f.text_field :location_id, :value => Location.find(@tournament.location_id).address %>
		
    <%= f.label "Time of event" %>
    <div id="datetimepicker_time" class="input-append date">
        <%= f.text_field :time, "data-format"=>"dd/MM/yyyy hh:mm", :value => (@tournament.time).strftime('%d/%m/%Y %H:%M') %>
        <span class="add-on">
             <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
    </div>

    <%= f.label "Deadline for signing up" %>
    <div id="datetimepicker_deadline" class="input-append date">
        <%= f.text_field :deadline, "data-format"=>"dd/MM/yyyy hh:mm", :value => (@tournament.deadline).strftime('%d/%m/%Y %H:%M')%>
        <span class="add-on">
             <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        </span>
    </div>

		<%= f.label "Limit of participants" %>
		<%= f.text_field :limit %>
		
		<%= f.label "Number of seeded players" %>
        <%= f.text_field :seeded_player %>

		<%= f.submit "Save changes", class: "btn btn-large btn-primary"  %> 
	<% end %>
 </div>
</div>

<%= link_to "Back", root_url %>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker_time').datetimepicker({
      language: 'pt-BR'
    });
    $('#datetimepicker_deadline').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>

