  <h1>My tournaments</h1>

  </br>
  <% if signed_in? %>
    <%= link_to "New tournament", '/tournaments/new' %>
  <% end %>
  </br>
  </br>

  <table align="center">
    <tr><td>
    <table class="table table-hover">
        <tr>
            <th>Tournament name</th>
            <th>Address</th>
            <th>Time</th>
        </tr>
        <% @tournaments.each do |tournament| %>
				<tr data-link=<%=tournament_path(tournament) %> >
                <td><%= tournament.name %></td>
                <td><%= (Location.find((tournament.location_id))).address %></td>
                <td><%= (tournament.time).strftime('%d/%m/%Y %H:%M') %></td>
            </tr>
        <% end %>
    </table>
    </td><td>
    <table class="table">
      <tr><td height=37></td><td></td></tr>
      <% @tournaments.each do |tournament| %>
        <tr>
          <!-- edit and delete -->
          <% if signed_in? && tournament.promoter_id == current_user.id %>
            <td height=37><%= link_to raw('<i class="icon-edit"></i>'), edit_tournament_path(tournament)%> </td>
            <td>
              <%= link_to raw('<i class="icon-trash"></i>'), tournament, method: :delete, 
                data: { confirm: 'Are you sure you want to delete this tournament?'} %>
            </td>
          <% else %>
            <td height=37></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>

    </table>
  </table>

  <%= will_paginate %>

  <%= link_to "Back", root_url %>

  <script>
	$.fn.twitter_bootstrap_confirmbox.defaults.title = "Delete tournament";
	jQuery(function($) {
    	$("tr[data-link]").click(function() {
        window.location = this.dataset.link
    	});
	})
  </script>
