<h1>New tournament</h1>
</br>
</br>

<!-- errors -->  
<% if @tournament.errors.count > 0 || (@location.longitude == -1 && @location.latitude == -1) %>
  <div class="control-group">
    <div class="container">  
      <div class="row">  
        <div class="span6 offset3">  
          <div class="alert alert-error">  
            <% if @location.longitude == -1 && @location.latitude == -1 %>
              <h4 class="text-danger" align="center"><%= pluralize(@tournament.errors.count+1, "error") %> prohibited:</h4>
            <% else %>
              <h4 class="text-danger" align="center"><%= pluralize(@tournament.errors.count, "error") %> prohibited:</h4>
            <% end %>
            <ul>
              <% @tournament.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end %>
              <% if @location.longitude == -1 && @location.latitude == -1 %>
                <li> Adress doesn't exists</li>
              <% end %>
            </ul>
         </div>  
       </div>  
     </div>  
    </div>  
  </div>  
<% end %>

<div class="row">
  <div class="span6 offset3" class="form-group has-error">
    <%= form_for(@tournament) do |f| %>

    <%= f.label "Name of tournament" %>
    <%= f.text_field :name  %>

    <%= f.label "Address" %>
    <% if params[:location_id].nil? %>
      <%= f.text_field :location_id %>
    <% else %>
      <%= f.text_field :location_id, :value => Location.find(@tournament.location_id).address %>
    <% end %>

    <%= f.label "Time of event" %>
    <div id="datetimepicker_time" class="input-append date">
      <%= f.text_field :time, "data-format"=>"dd/MM/yyyy hh:mm"%>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    <%= f.label "Deadline for signing up" %>
    <div id="datetimepicker_deadline" class="input-append date">
      <%= f.text_field :deadline, "data-format"=>"dd/MM/yyyy hh:mm"%>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    <%= f.label "Limit of participants" %>
    <%= f.text_field :limit %>

    <%= f.label "Number of seeded players" %>
    <%= f.text_field :seeded_player %>

    <%= f.submit "Create", class: "btn btn-large btn-primary"  %> 
  <% end %>
  </div>
</div>

<%= link_to "Back", root_url %>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker_time').datetimepicker({
      language: 'pt-BR'
    });
    $('#datetimepicker_deadline').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>


