<h1>Join tournament "<%= (Tournament.find(session[:id])).name %>"</h1>
<br>
<br>

<%= form_for :participant, url: join_path  do |f| %>

  <% if @participation.errors.any? %>
    <div class="control-group">
    <div class="container">  
      <div class="row">  
        <div class="span6 offset3">  
          <div class="alert alert-error">  
    <h2><%= pluralize(@participation.errors.count, "error") %> prohibited:</h2>

    <ul>
      <% @participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
<% end %>

<div class="row">
  <div class="span6 offset3">  
    <%= f.label :license %>
    <%= f.number_field :license %>

    <%= f.label :ranking %>
    <%= f.number_field :ranking %>

    <%= f.submit "Join", class: "btn btn-large btn-primary" %>
  </div>
</div>

<% end %>
