<h1>Tournament details</h1>
</br>

<% if signed_in? %>
  <% if @participations.where(user_id: current_user.id, tournament_id: @tournament.id)[0].nil? %>
    <%= link_to 'Join', join_path  %> 
  <% else %>
    <%row=@participations.where(user_id: current_user.id, tournament_id: @tournament.id)[0]%>
	<%= link_to 'Left', '/participation/'+row.id.to_s, method: :delete  %>
	<%if @tournament.time<Time.zone.now%>
		<%= link_to 'Current matches', matches_path %>
	<%end%>
  <% end %>
<% end %>

</br>

<table align="center">
  <tr>
    <td>
      <table align="center">
        <col width="300">
        <col width="30">
        <col width="300">
        <tr>
          <td align="right">Name</td>
          <td>     </td>
          <td><span style="font-weight:bold"><%=@tournament.name %></span></td>
        </tr>
        <tr> 
          <td align="right">Address</td> 
          <td></td>
          <td><span style="font-weight:bold"><%= (Location.find((@tournament.location_id))).address %></span></td>
        </tr>
        <tr> 
          <td align="right">Time of event</td> 
          <td></td>
          <td><span style="font-weight:bold"><%=(@tournament.time).strftime('%d/%m/%Y %H:%M') %></span></td>
        </tr>
        <tr> 
          <td align="right">Deadline for signing up</td> 
          <td></td>
          <td><span style="font-weight:bold"><%=(@tournament.deadline).strftime('%d/%m/%Y %H:%M') %></span></td>
        </tr>
        <tr> 
          <td align="right">Limit of participants</td> 
          <td></td>
          <td><span style="font-weight:bold"><%=@tournament.limit %></span></td>
        </tr>
        <tr> 
          <td align="right">Number of seeded players</td> 
          <td></td>
          <td><span style="font-weight:bold"><%=@tournament.seeded_player %></span></td>
        </tr>
        <tr>
          <td align="right">Promoter</td>
          <td></td>
          <td><span style="font-weight:bold">
              <%=(User.find((@tournament.promoter_id))).name %> <%=(User.find((@tournament.promoter_id))).surname %>
          </span></td>
        </tr>
      </table>
    </td>
    <td>
      <%= gmaps("markers" => {"data" => @json}, "map_options" => 
                {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 15}) %>
    </td>
  </tr>
</table>

<!-- table with sponsors -->
<div class="span3">
<table class="table table-condensed">
	<%if @sponsors!=nil%>
		  <%@sponsors.each do |f| %>
			<%if f.tournament_id==@tournament.id%>
				<tr>
					<td><b><%=f.sponsor.name%></b></td>
					<%if f.sponsor.logo!=nil%>
						<td><%=image_tag f.sponsor.logo.split("/")[2], size: "100" %></td>
					<%else%>
						<td></td>
					<%end%>
					<%if signed_in? && @user.id==@tournament.promoter_id %>
            <td><%=link_to 'delete', '/sponsor/'+f.id.to_s, method: :delete, 
              data: { confirm: 'Are you sure you want to delete this sponsor?' }%>
					<%end%>
				</tr>
			<%end%>
		  <%end%>
  	<%end%>
</table>

<!-- add new sponsor -->
<div class="container">
<%if signed_in? && @user.id==@tournament.promoter_id%>
	<%=form_for :sponsor, url: sponsor_path do |f| %>
	<%=render 'shared/error_sponsors'%>
    <%= f.label "Sponsor" %>
    <%= f.text_field :name, class: 'span4' %> 
	<!--<%= f.file_field :img, accept: 'image/png, image/jpg,image/jpeg, image/gif' %> <br>-->
    <%= f.file_field :img %> <br>
    <%= f.submit "Add", class: "btn btn-large btn-primary"  %> 
	<%end%>
<%end%>
</div>

<!-- delete sponsor confirmation -->
<script>
  $.fn.twitter_bootstrap_confirmbox.defaults.title = "Delete sponsor";
  jQuery(function($) {
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
  })
</script>

<%= link_to "Back", root_url %>
</div>
