<%if signed_in?%>
<%@matches.each do |f|%>
<div class="span6">
	<table class="table table-hover">
	<tr>
		<td><%=f.playerA%></td>
		<td>VS.</td>
		<td><%=f.playerB%></td>
		<%if f.playerA==current_user.id || f.playerB==current_user.id%>
		<%=form_for :round, url: nextRound_path  do |d| %>
			<td><%=d.select :choose, options_for_select([f.playerA,f.playerB])%></td> 
			<%= d.submit "Confirm", class: "btn btn-large btn-primary" %>
		<%end%>
		<%end%>
	</tr>
	</table>
<%end%>
<%=link_to 'Back', '/tournaments/'+session[:id].to_s%>
</div>
<%else%>
	<script type="text/javascript">
    	window.location.href="/signin"
  	</script>
<%end%>
