<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url:rec_password_index_path ) do |f| %>
			<%=f.label :username %>
			<%=f.text_field :username %>
			<%=f.label :email %>
			<%=f.text_field :email %>
			<%=f.submit "Send", class: "btn btn-large btn-primary" %> 
		<% end %>
	</div>
</div>

