<div class="row">
	<div class="span6 offset3">
		<%= form_for(:user, url:resetAction_path ) do |f| %>
			<%=render 'shared/error_messages'%>
			<%=f.label :password %>
			<%=f.password_field :password %>
			<%=f.label :password_confirmation %>
			<%=f.password_field :password_confirmation %>
			<%=f.submit "Reset", class: "btn btn-large btn-primary" %> 
		<% end %>
	</div>
</div>
