<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "tournament app", root_url, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
			<li><%= link_to name="Profile", controller: "users", action: "edit", id:current_user %></li>
			<li><%= link_to 'Remove account',current_user, method: :delete, data: { confirm: 'Are you sure you want to delete this account?'} %> </li> 
            <li><%= link_to name="My tournaments", controller: "tournaments", action: "my", id:current_user %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete"%></li>
          <% else %>
            <li><%= link_to "Sign in", '/signin' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
	$.fn.twitter_bootstrap_confirmbox.defaults.title = "Delete user";
	jQuery(function($) {
    	$("tr[data-link]").click(function() {
        window.location = this.dataset.link
    	});
	})
</script>


