<html>
	<head>
	<title>Tournaments app</title>
	<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	</head>
		<body>
		  <%=render 'layouts/header'%>	
		  <div class="center hero-unit">
		  <div class="container">		
			<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>			
			<div class="center hero-unit">
        <%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		  </div>	
      <%= yield :scripts %>
	</body
</html>
